*{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #282C34;
}

header{
    width: 100%;
    height: 20%;
}

img{
    width: 150px;
    height: 100px;
}

.contenedor{
    max-width: 300px;
    display: flexbox;
    text-align: center;
    margin: auto;
    display:grid;
    color: #FFFFFF;
}

.buscador{
    align-content: center;
    margin: auto;
    color: #FFFFFF;
}

